body{
    margin: 0;
    padding: 0;
    background-color:  #000;

}

.yo{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    padding: 30px 70px ;
    border: none;
    background-color:black ;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        background-color: red;

    }
    20%{
        background-color: green;
        
    }
    40%{
        background-color: yellow;
        
    }
    60%{
        background-color: blue;
        
    }
    80%{
        background-color: orange;
        
    }
    100%{
        background-color: purple;
        
    }
}